
body {
  font-family: Arial, sans-serif;
  color: #e0e0e0; 
  background-color: #121212; 
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff; 
  text-align: center;
  margin-top: 20px;
}


button {
  background-color: #333333; 
  color: #ffffff; 
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555555;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  padding: 10px;
  border: 1px solid #444444; 
}

th {
  background-color: #222222; 
  color: #ffffff; 
}

tr:nth-child(even) {
  background-color: #1e1e1e; 
}

tr:hover {
  background-color: #333333; 
}


section {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #1f1f1f; 
}

.widget, .create, .update, .delete {
  margin-bottom: 20px;
}

.delete-button {
  background-color: red;
  color: white;          
  border: none;          
  padding: 10px 20px;   
  border-radius: 5px;    
  cursor: pointer;        
  font-size: 16px;        
  font-weight: bold;    
}

.message {
  background-color: #333333; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.input label {
  color: #cccccc; 
  display: block;
  margin-bottom: 5px;
}

.input input {
  padding: 10px;
  border: 1px solid #444444; 
  border-radius: 5px;
  background-color: #333333; 
  color: #e0e0e0; 
  width: calc(100% - 22px); 
  margin-bottom: 10px;
}

.input input::placeholder {
  color: #999999; 
}
